{% include "header.html" %}

<p>{% include "file.html" %}
  implementieren Sie ein synchrones <strong>32-Bit-Register</strong> in VHDL in der Entity <code>register_32bit</code>.
  Das Register besitzt einen Dateneingang <code>data_in</code> (32 Bit),
  einen Datenausgang <code>data_out</code> (32 Bit),
  ein Taktsignal <code>clk</code> sowie ein asynchrones Rücksetzsignal
  <code>reset</code>.
  Bei aktivem Reset (<code>'0' low-active</code>) soll der Ausgang sofort auf <code>0</code> gesetzt werden.
  Mit jeder steigenden Taktflanke von <code>clk</code> wird der Wert an <code>data_in</code> übernommen und an <code>data_out</code> ausgegeben.
</p>
<br>
<details>
  <summary><strong>Hinweise</strong></summary>
  <ul>
    <li>
      Verwenden Sie die Bibliothek <code>ieee.std_logic_1164.all</code> für die Datentypen <code>std_logic</code> und <code>std_logic_vector</code>.
    </li>
    <li>
      Achten Sie darauf, dass das Signal <code>reset</code> <strong>asynchron</strong> ausgewertet wird (d.&nbsp;h. vor der Taktflankenprüfung im <code>process</code>).
    </li>
    <li>
      Verwenden Sie die Funktion <code>rising_edge(clk)</code> zur Erkennung der steigenden Taktflanke.
    </li>
    <li>
      Um alle 32 Bits gleichzeitig auf <code>'0'</code> zu setzen, empfiehlt sich das Aggregat:
      <code>data_out &lt;= (others =&gt; '0');</code>
    </li>
    <li>
      Für weitere Details zur Syntax von Prozessen und Registern in VHDL können Sie folgendes Tutorial konsultieren:
      <ul>
        <li>
          <a href="https://nandland.com/a-very-special-keyword-process/">
            www.nandland.com/a-very-special-keyword-process/
          </a>
        </li>
      </ul>
    </li>
  </ul>
</details>
<br>
<!-- {% include "demo.html" %} -->

{% include "before_you_begin_hdl.html" %}

{% include "how_to_test_head_hdl.html" %}

<p>
  Betrachten sie neben den möglichen Warungen und Fehlermeldungen in der Konsole auch die folgenden Daten in Ihrem Register im Waveform-Viewer:
</p>
<ul>
  <li>
    Testen des asynchronen Resets:<br>
    <code>reset &lt;= '0'; -- data_out muss sofort 0x00000000 annehmen</code>
  </li>
  <li>
    Testen der Datenübernahme bei steigender Taktflanke:<br>
    <code>reset &lt;= '0'; data_in &lt;= x"baad_c0fe"; clk &lt;= '1';</code><br>
    Nach der steigenden Flanke sollte gelten:<br>
    <code>data_out = x"baad_cofe"</code>
  </li>
</ul>

{% include "how_to_test_auto_hdl.html" %}

{% include "how_to_submit.html" %}

{% include "how_to_mark_in_moodle.html" %}

{% include "footer.html" %}